{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des groupes</h1>
        <br>
        <br>
    {% for groupe in groupes %}

        <h3>Groupe : {{ groupe.nom }}</h3>
        <br>
        <h5>Responsable :  </h5>
        <p>{{ groupe.responsable.prenom }} {{ groupe.responsable.nom }}</p>
        <br>
        <h5>Adjoints :</h5>
        <ul>
            {% for adjoint in groupe.adjoints %}
                <li>{{ adjoint.prenom }} {{ adjoint.nom }}</li>
            {% endfor %}
        </ul>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date début contrat</th>
                <th scope="col">Date fin contrat</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for employe in groupe.employesgrpprincipaux %}
                <tr>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.contrats| last .datedebut|date('d/m/Y') }}</td>
                    <td>{{ employe.contrats| last .datefin|date('d/m/Y') }}</td>
                    <td>{{ employe.contrats| last .status.type }}</td>
                </tr>
            {% endfor %}
            {% for employeSec in groupe.employegrpsecondaires %}
                <tr>
                    <td>{{ employeSec.prenom }}</td>
                    <td>{{ employeSec.nom }}</td>
                    <td>{{ employeSec.contrats| last .datedebut|date('d/m/Y') }}</td>
                    <td>{{ employeSec.contrats| last .datefin|date('d/m/Y') }}</td>
                    <td>{{ employeSec.contrats| last .status.type }}</td>
                    {% if (app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] == 'ROLE_RH') or ((groupe.responsable == app.user.employe or app.user.employe in groupe.adjoints) and app.user.employe != employeSec and employeSec != groupe.responsable) %}
                        <td><a href="{{ path('supprimerEmployeDuGroupe', {'idEmploye': employeSec.id, 'idGroupe': groupe.id}) }}" class="btn btn-danger">Supprimer du Groupe</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    {% endfor %}
    </div>
{% endblock %}