{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier les groupes</h1>
        <br>
        <h5>Groupe principal :</h5>
        <p>{{groupePrincipal.nom}}</p>
        <br>
        <h5>Groupes secondaires :</h5>
        <ul class="list-group">
                    {% for groupe in groupesSecondairesEmploye %}
                        <li class="list-group-item">

                            <strong> groupe {{loop.index}} : </strong><a class="btn btn-danger my-2" href="" >&#128465;&#65039;</a>
                            </br>

                            {{ form_start(groupe, {'action': path('modifier', {'index': loop.index0})}) }}
                            {{ form_widget(groupe) }}
                            {{ form_end(groupe) }}
                        </li>
                    {% endfor %}
                    <li class="list-group-item">
                        {{form(formGroupesSecondaires)}}
                    </li>
                </ul>
    </div>    
{% endblock %}