{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="text-center">Serveurs</h1>
    <br>
    <h2>Liste des serveurs</h2>
    <br> <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Groupe</th>
            <th>Nom</th>
            <th>Nombre d'utilisateurs</th>
            <th>RAM utilisé (Go)</th>
            <th>RAM total (Go)</th>
            <th>CPU %</th>
            <th>Nb CPU</th>
        </tr>
        </thead>
        <tbody>
        {% for serveur in serveurs %}
            <tr>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].DateMesure | date('Y-m-d H:i:s') }}</td>
                <td>{{ serveur.groupe.nom }}</td>
                <td>{{ serveur.nom }}</td>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].nbUtilisateurs }}</td>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].ramUtilise }}</td>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].ramMax }}</td>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].cpu }}</td>
                <td>{{ lastMesureDeChaqueServeur[loop.index0].cpuTotal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Graphiques</h2>
    <h3>Filtrer</h3>
    {{ form(form) }}
    <br>
    <h3>Graphique CPU et nb user</h3>
    {{ render_chart(chart) }}
    <br>
    <h3>Graphique RAM</h3>
    {{ render_chart(chartRAM) }}
</div>
{% endblock %}

{% block javascripts %}
    <script>
        let inputGroupes = [];
        let Formserveurs = null;

        window.addEventListener('load', function() {
            // Fonction pour mettre à jour les serveurs
            let Formgroupes = document.getElementById('form_groupes');

            Formserveurs = document.getElementById('form_serveurs');

            //dans groupes on récupère les groupes sélectionnés
            inputGroupes = Formgroupes.getElementsByClassName('form-check-input');

            //Si un des input est checked on met à jour les serveurs
            for (let i = 0; i < inputGroupes.length; i++) {
                inputGroupes[i].addEventListener('change', function() {
                    updateServeur();
                });
            }
        });



        //Fonction pour mettre à jour les serveurs
        // This object will store the servers for each group
        let groupServers = {};

        function updateServeur() {
            let groupes = [];

            for (let i = 0; i < inputGroupes.length; i++) {
                if (inputGroupes[i].checked) {
                    groupes.push(inputGroupes[i].value);
                }
            }

            // Remove all servers from the form
            Formserveurs.innerHTML = '';

            // Add the servers for the selected groups
            for (let i = 0; i < groupes.length; i++) {
                // If the servers for this group have already been fetched, use them or
                if (groupServers[groupes[i]]) {

                    addServersToForm(groupServers[groupes[i]]);
                }//if there already are a fetch request for this group, we wait for the response
                else if (groupServers[groupes[i]] === 'fetching') {
                    console.log('waiting for response');
                    setTimeout(updateServeur, 400);
                    return;
                }
                else {
                    fetch('/ressources/serveurs/' + groupes[i])
                        .then(response => response.json(), groupServers[groupes[i]] = 'fetching')
                        .then(data => {
                            // Store the servers for this group
                            groupServers[groupes[i]] = data;

                            // Add the servers to the form
                            addServersToForm(data);
                        });
                }
            }
        }

        function addServersToForm(servers) {
            for (let j = 0; j < servers.length; j++) {
                let div = document.createElement('div');
                div.className = 'form-check';

                let input = document.createElement('input');
                input.type = 'checkbox';
                input.id = 'form_serveurs_' + j;
                input.name = 'form[serveurs][]';
                input.className = 'form-check-input';
                input.value = servers[j].id;

                let label = document.createElement('label');
                label.className = 'form-check-label';
                label.htmlFor = 'form_serveurs_' + j;
                label.innerHTML = servers[j].nom;

                div.appendChild(input);
                div.appendChild(label);
                Formserveurs.appendChild(div);
            }
        }
    </script>
{% endblock %}