{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="text-center">Stockage</h1>
    <br>
    <h2>Type : home</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Capacité utilisée (Go)</th>
                <th>Capacité totale (Go)</th>
                <th>Pourcentage</th>
                <th>Path</th>
            </tr>
        </thead>
        <tbody>
            {% for resStockage in resStockagesHome %}
            <tr>
                {% if mesuresHome[loop.index0] is null %}
                    <td></td>
                {% else %}
                    <td>{{ mesuresHome[loop.index0].DateMesure | date('Y-m-d H:i:s') }}</td>
                {% endif %}
                <td>{{ resStockage.nom }}</td>
                {% if mesuresHome[loop.index0] is null %}
                    <td></td>
                    <td></td>
                {% else %}
                    <td>{{ mesuresHome[loop.index0].ValeurUse }}</td>
                    <td>{{ mesuresHome[loop.index0].ValeurMax }}</td>
                {% endif %}
                <td>{{ pourcentageHome[loop.index0] }} %</td>
                <td>{{ resStockage.path }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Type : Work</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Capacité utilisée (Go)</th>
            <th>Capacité totale (Go)</th>
            <th>Pourcentage</th>
            <th>Path</th>
        </tr>
        </thead>
        <tbody>
        {% for resStockage in resStockagesWork %}
            <tr>
                {% if mesuresWork[loop.index0] is null %}
                    <td></td>
                {% else %}
                    <td>{{ mesuresWork[loop.index0].DateMesure | date('Y-m-d H:i:s') }}</td>
                {% endif %}
                <td>{{ resStockage.nom }}</td>
                {% if mesuresWork[loop.index0] is null %}
                    <td></td>
                    <td></td>
                {% else %}
                    <td>{{ mesuresWork[loop.index0].ValeurUse }}</td>
                    <td>{{ mesuresWork[loop.index0].ValeurMax }}</td>
                {% endif %}
                <td>{{ pourcentageWork[loop.index0] }} %</td>
                <td>{{ resStockage.path }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Graphique</h2>
    {{ form(form) }}
    {{ render_chart(chart) }}
</div>
{% endblock %}