{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h2>Infos : </h2>
    <p>Utilisateurs : {{ nbEmployesAffiches }}/{{ nbEmployes }}</p>
    <p>Groupes : {{ nbGroupesAffiches }}/{{ nbGroupes }}</p>
    <p>Departements : {{ nbDepartementsAffiches }}/{{ nbDepartements }}</p>

    <h2>Filtre : </h2>
    {{ form(formFiltre) }}

    <h2>Trombinoscope : </h2>
    {% for employe in employes %}
        <div class="employe">
            <img src="{{ asset('images/' ~ employe.photo) }}" alt="{{ employe.nom }}" />
            <p>{{ employe.nom }} {{ employe.prenom }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
