 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom sticky-top">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{path('accueil')}}" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> User </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{path('mesInfos')}}">Mes informations</a></li>
                  <li><a class="dropdown-item" href="{{path('idNum')}}">Identifiant numériques</a></li>
                  <li><a class="dropdown-item" href="{{path('contacts')}}">Contacts secondaires</a></li>
                  </ul>
            </div>
        </li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> Groupes </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{path('modifier')}}"">Modifier</a></li>
                  <li><a class="dropdown-item" href="#">Liste des utilisateurs</a></li>
                  </ul>
            </div>
        </li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> Outils </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Redirection mail</a></li>
                  <li><a class="dropdown-item" href="#">Trombinoscope</a></li>
                  <li><a class="dropdown-item" href="#">Formulaire demande compte</a></li>
                  </ul>
            </div>
        </li>
        <li><a href="#" class="nav-link px-2 link-dark">Ressources</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">R.H.</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Admin</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if not app.user %}
          <a href="{{path('app_login')}}" class="btn btn-primary my-2">Se connecter</a>
        {% else %}
          <a href="{{path('app_logout')}}" class="btn btn-outline-primary my-2">Se déconnecter</a>
        {% endif %}
      </div>
    </header>
  </div>