 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom sticky-top">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{{ asset('img/IPHC.png') }}" alt="logo" class="img-fluid w-25">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{path('accueil')}}" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> User </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{path('mesInfos')}}">Mes informations</a></li>
                  <li><a class="dropdown-item" href="{{path('idNum')}}">Identifiant numériques</a></li>
                  <li><a class="dropdown-item" href="{{path('contacts')}}">Contacts secondaires</a></li>
                  </ul>
            </div>
        </li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> Groupes </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{path('modifier')}}">Modifier</a></li>
                  <li><a class="dropdown-item" href="{{ path('liste') }}">Liste</a></li>
                  </ul>
            </div>
        </li>
        <li>
            <div class="dropdown"> 
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> Outils </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{ path('redirectionMail') }}">Redirection mail</a></li>
                  <li><a class="dropdown-item" href="{{ path('trombinoscope') }}">Trombinoscope</a></li>
                  <li><a class="dropdown-item" href="{{ path('formulaireDemandeCompte', ) }}">Demande de compte</a></li>
                  </ul>
            </div>
        </li>
        <li><div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> Ressources </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{{ path('stockage') }}">Stockage</a></li>
                    <li><a class="dropdown-item" href="{{ path('serveurs') }}">Serveurs</a></li>
                </ul>
            </div>
        </li>
        {% if is_granted('ROLE_RH')%}
        <li>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"> RH </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="{{ path('listeDepartements') }}">Liste des départements</a></li>
                    <li><a class="dropdown-item" href="{{ path('listeDemandesComptes') }}">Liste des demandes de compte</a></li>
                </ul>
            </div>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN')%}
        <li>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">Admin</button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="{{ path('changerMotDePasseAdmin') }}">Changer mot de passe</a></li>
                  <li><a class="dropdown-item" href="{{ path('listeDemandesComptesAdmin') }}">Liste des demandes de compte</a></li>
                  <li><a class="dropdown-item" href="{{ path('changerRoleAdmin') }}">Changer le rôle d'un utilisateur</a></li>
                  <li><a class="dropdown-item" href="{{ path('ressourcesAdmin') }}">Ressources</a></li>
              </ul>
          </div>
        </li>
        {% endif %}
      </ul>

      <div class="col-md-3 text-end">
        {% if not app.user %}
          <a href="{{path('app_login')}}" class="btn btn-primary my-2">Se connecter</a>
        {% else %}
            <a class="btn btn-primary" href="{{path('mesInfos')}}">{{ app.user.username }}</a>
            <a href="{{path('app_logout')}}" class="btn btn-outline-primary my-2">Se déconnecter</a>
        {% endif %}
      </div>
    </header>
  </div>