{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste demandes de compte</h1>
        {% if demandes is empty %}
            <p class="text-center">Aucune demande de compte en cours</p>
            <br>
        {% else %}
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date de demande</th>
                    <th>Date de validation</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Mail</th>
                    <th>Groupe</th>
                    <th>Bureau</th>
                    <th>Batiment</th>
                    <th>Téléphone</th>
                    <th>Etat</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>
                            {{ demande.dateRequete|date('d/m/Y') }}
                            {{ demande.dateRequete|date('H:i:s') }}
                        </td>
                        <td>
                            {% if demande.dateValidation %}
                                {{ demande.dateValidation|date('d/m/Y') }}
                                {{ demande.dateValidation|date('H:i:s') }}
                            {% endif %}
                        </td>
                        <td>{{ demande.prenom }}</td>
                        <td>{{ demande.nom }}</td>
                        <td>{{ demande.contrat.datedebut|date('d/m/Y') }}</td>
                        <td>{{ demande.contrat.datefin|date('d/m/Y') }}</td>
                        <td>{{ demande.mail }}</td>
                        <td>{{ demande.groupePrincipal.nom }}</td>
                        <td>{{ demande.localisation.bureau }}</td>
                        <td>{{ demande.localisation.batiment.nom }}</td>
                        <td>{{ demande.telephone }}</td>
                        <td>{{ demande.etatRequete.etat }}</td>
                        <td>{{ demande.commentaire }}</td>
                        {% block validerSupprimer %}
                        <td>
                            <a href="{{ path('validerDemandeCompte', {'id': demande.id}) }}" class="btn btn-success">Valider</a>
                        </td>
                        <td>
                            <a href="{{ path('modifierDemandeCompte', {'id': demande.id}) }}" class="btn btn-primary">Modifier</a>
                        </td>
                        <td>
                            <a href="{{ path('refuserDemandeCompte', {'id': demande.id}) }}" class="btn btn-danger">Refuser</a>
                        </td>
                        {% endblock %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% block formulaire %}{% endblock %}
{% endblock %}
