{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste demandes de compte</h1>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Mail</th>
                    <th>Groupe</th>
                    <th>Bureau</th>
                    <th>Batiment</th>
                    <th>Téléphone</th>
                    <th>Commentaire</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.prenom }}</td>
                        <td>{{ demande.nom }}</td>
                        <td>{{ demande.contrat.datedebut|date('d/m/Y') }}</td>
                        <td>{{ demande.contrat.datefin|date('d/m/Y') }}</td>
                        <td>{{ demande.mail }}</td>
                        <td>{{ demande.groupePrincipal.nom }}</td>
                        <td>{{ demande.localisation.bureau }}</td>
                        <td>{{ demande.localisation.batiment.nom }}</td>
                        <td>{{ demande.telephone }}</td>
                        <td>{{ demande.commentaire }}</td>
                        {% block validerSupprimer %}
                        <td>
                            <a href="{{ path('validerDemandeCompte', {'id': demande.id}) }}" class="btn btn-success">Valider</a>
                            <a href="{{ path('refuserDemandeCompte', {'id': demande.id}) }}" class="btn btn-danger">Refuser</a>
                        </td>
                        {% endblock %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
