{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste départements</h1>
        <br>
        {% for departement in departements %}
            <div class="card">
                <div class="card-header">
                    <h2>{{ departement.nom }} ({{ departement.acronyme }})</h2>
                    {{ form_start(formsResponsableDep[loop.index0], {'action': path('listeDepartements', {'index': loop.index0})}) }}
                    {{ form_widget(formsResponsableDep[loop.index0]) }}
                    {{ form_end(formsResponsableDep[loop.index0]) }}
                </div>
                <div class="card-body">
                    {% for groupe in departement.groupes %}
                        <a href="{{ path('listeGroupe', {'id': groupe.id}) }}">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="text-center">{{ groupe.nom }}</h4>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}