{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des utilisateurs du groupe : {{ groupe.nom }}</h1>
        <br>
        <br>
        {{ form_start(form) }}
        <div class="form-group">
            <h5>Nom : </h5>
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>
        <br>
        <div class="form-group">
            <h5>Responsable : </h5>
            {{ form_widget(form.responsable) }}
            {{ form_errors(form.responsable) }}
        </div>
        <br>
        <br>
        <div class="adjoint-container" data-prototype="{{ form_widget(form.adjoints.vars.prototype)|e('html_attr') }}">
            <h5>Adjoints : </h5>
            {% for adjoint in form.adjoints %}
                <div class="adjoint" style="display: flex; flex-direction: row;">
                    <h6>Adjoint {{ loop.index }} : </h6>
                    {{ form_widget(adjoint) }}
                    <button type="button" class="remove-adjoint-button btn btn-danger">Supprimer</button>
                    {{ form_errors(adjoint) }}
                </div>
            {% endfor %}
        </div>
        <br>
        <button type="button" class="add-adjoint-button btn btn-primary">Ajouter un adjoint</button>
        <br>
        <br>
        <div class="form-group">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date début contrat</th>
                <th scope="col">Date fin contrat</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for employe in groupe.employesgrpprincipaux %}
                <tr>
                    <td>{{ employe.prenom }}</td>
                    <td>{{ employe.nom }}</td>
                    <td>{{ employe.contrats| last .datedebut|date('d/m/Y') }}</td>
                    <td>{{ employe.contrats| last .datefin|date('d/m/Y') }}</td>
                    <td>{{ employe.contrats| last .status.type }}</td>
                    <td><td><a href="{{ path('infoEmploye', {'idEmploye': employe.id, 'idGroupe' : groupe.id}) }}" class="btn btn-info">Infos</a></td>
                </tr>
            {% endfor %}
            {% for employeSec in groupe.employegrpsecondaires %}
                <tr>
                    <td>{{ employeSec.prenom }}</td>
                    <td>{{ employeSec.nom }}</td>
                    <td>{{ employeSec.contrats| last .datedebut|date('d/m/Y') }}</td>
                    <td>{{ employeSec.contrats| last .datefin|date('d/m/Y') }}</td>
                    <td>{{ employeSec.contrats| last .status.type }}</td>
                    <td><a href="{{ path('infoEmploye', {'idEmploye': employeSec.id, 'idGroupe' : groupe.id}) }}" class="btn btn-info">Infos</a></td>
                    <td><a href="{{ path('supprimerEmployeDuGroupeRH', {'idEmploye': employeSec.id, 'idGroupe': groupe.id}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
                <tr>

                    <td>{{ form(formAjoutEmploye) }}</td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            let adjointContainer = document.querySelector('.adjoint-container');
            let addAdjointButton = document.querySelector('.add-adjoint-button');

            addAdjointButton.addEventListener('click', function(e) {
                e.preventDefault();

                let index = adjointContainer.querySelectorAll('.adjoint').length;

                let h6 = document.createElement('h6');
                h6.textContent = 'Adjoint ' + (index + 1) + ' :';

                let newAdjointForm = adjointContainer.getAttribute('data-prototype').replace(/__name__/g, index);

                let removeButton = document.createElement('button');
                removeButton.type = 'button';
                removeButton.textContent = 'Supprimer';
                removeButton.classList.add('remove-adjoint-button', 'btn', 'btn-danger');

                removeButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    let groupe = removeButton.parentElement;
                    groupe.remove();
                });

                let newAdjoint = document.createElement('div');
                newAdjoint.classList.add('adjoint', 'd-flex', 'flex-row');
                newAdjoint.appendChild(h6);
                newAdjoint.insertAdjacentHTML('beforeend', newAdjointForm);
                newAdjoint.appendChild(removeButton);

                adjointContainer.appendChild(newAdjoint);
            });

            let removeAdjointButtons = document.querySelectorAll('.remove-adjoint-button');

            removeAdjointButtons.forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    let groupe = button.parentElement;
                    groupe.remove();
                });
            });
        });
    </script>
{% endblock %}