{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Liste des utilisateurs</h1>
    <br>
    <h3>Infos : </h3>
    <h6>Utilisateurs : <strong>{{ nbEmployesAffiches }}/{{ nbEmployes }}</strong></h6>
    <h6>Groupes : <strong>{{ nbGroupesAffiches }}/{{ nbGroupes }}</strong></h6>
    <h6>Departements : <strong>{{ nbDepartementsAffiches }}/{{ nbDepartements }}</strong></h6>
    <br>
    <h3>Filtre : </h3>
    <a href="{{ path('supprimerFiltreSessionRH') }}" class="btn btn-primary">Réinitialiser les filtres</a>
    {{ form(formFiltre) }}

    <br>
    <h3>Liste des utilisateurs : </h3>
    {{ form(formFiltreParPage) }}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Photo</th>
                {% if not is_array(employes) %}
                    <th>{{ knp_pagination_sortable(employes, 'prenom', 'e.prenom') }}</th>
                    <th>{{ knp_pagination_sortable(employes, 'nom', 'e.nom') }}</th>
                    <th>{{ knp_pagination_sortable(employes, 'dateDebut', 'c.date_debut') }}</th>
                    <th>{{ knp_pagination_sortable(employes, 'dateFin', 'c.date_fin') }}</th>
                    <th>{{ knp_pagination_sortable(employes, 'status', 's.type') }}</th>
                {% else %}
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Status</th>
                {% endif %}
                <th>Departements</th>
                <th>Groupes</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr onclick="window.location.href='{{ path('infoEmploye', {'idEmploye': employe.id}) }}';" onmouseover="this.style.cursor='pointer'">
                <td><img src="{{ vich_uploader_asset(employe, 'imageFile') }}" alt="photo" width="100" height="100"></td>
                <td>{{ employe.prenom }}</td>
                <td>{{ employe.nom }}</td>
                <td>{{ employe.contrats | last.dateDebut|date('d/m/Y') }}</td>
                <td>{{ employe.contrats | last.dateFin|date('d/m/Y') }}</td>
                <td>{{ employe.contrats | last.status.type }}</td>
                <td>
                    {% set displayed_departments = {} %}
                    {% if employe.groupeprincipal.departement %}
                        {% set departement_id = employe.groupeprincipal.departement.id %}
                        {{ employe.groupeprincipal.departement.nom }}
                        {% set displayed_departments = displayed_departments|merge([departement_id]) %}
                    {% endif %}
                    {% for groupe in employe.groupessecondaires %}
                        {% if groupe.departement %}
                            {% if loop.first %},  <br>{% endif %}
                            {% set departement_id = groupe.departement.id %}
                            {% if departement_id not in displayed_departments %}
                                {{ groupe.departement.nom }}{% if not loop.last %}, {% endif %} <br>
                                {% set displayed_departments = displayed_departments|merge([departement_id]) %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if employe.groupeprincipal %}
                        {{ employe.groupeprincipal.nom }}<br>
                    {% endif %}
                    {% for groupe in employe.groupessecondaires %}
                        {{ groupe.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not is_array(employes) %}
        <div class="navigation text-center">
            {{ knp_pagination_render(employes) }}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script>
    //On ajoute un listener au Dom
    document.addEventListener('DOMContentLoaded', function() {
        //On récupère le <a> qui a comme classe asc ou desc
        var asc = document.querySelectorAll('.asc');
        var desc = document.querySelectorAll('.desc');

        //Si un des deux n'est pas vide on modifie son path pout que le svg soit affiché sous forme de flèche vers le haut pour asc et vers le bas pour desc
        if (asc.length > 0) {
            asc[0].querySelector('.sort').innerHTML = '&#x25b4';
        }
        if (desc.length > 0) {
            desc[0].querySelector('.sort').innerHTML = '&#x25be';
        }
    });
</script>
{% endblock %}

